

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                 href="https://github.com/WhiTExB3AR/Emotion_Diary" class="nav-link">
                Emotion Diary Web App
              </a>
            </li>
          </ul>

          <div class="copyright">
            &copy; <a target="_blank" rel="sponsored noopener noreferrer" 
                      href="https://bit.ly/3fKQZaL">Template from AppSeed</a> 
            - Demo developed by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">Lê Đặng Xuân Thuỳ - 17521120</a>
          </div>
        </div>
      </footer>
      
