<script>
  let capturedImage=null;
  const LABEL_VALUES={
    0:'Anger',
    1:'Contempt',
    2:'Disgust',
    3:'Fear',
    4:'Happy',
    5:'Sad',
    6:'Surprise',
    7:'Neutral'
  };

  // Clear text value in input field
  $('#post_create_datetime').val('');
  $('#eid_create_diary').val('');
  $('#emotion_create_diary').val('');
  $('#img_create_diary').val('');

    $(document).ready(function() {
          // Javascript method's body can be found in assets/demos.js
          demo.initDashboardPageCharts();


    });
    

    // https://html5.tutorials24x7.com/blog/how-to-capture-image-from-camera
    // The buttons to start & stop stream and to capture the image
    var btnStart = document.querySelector("#start-camera");
    var btnStop = document.querySelector("#stop-camera");
    var btnCapture = document.querySelector("#click-photo");
    var btnAnalyze = document.querySelector("#click-analyze");
    var myProgressBar = document.querySelector(".analyze-progress");

    // The stream & capture
    var videoInput = document.querySelector("#cam-video");
    var canvasOutput = document.querySelector("#canvas-video");

    // The video stream
    var cameraStream = null;

    // Attach listeners
    btnStart.addEventListener( "click", startStreaming );
    btnStop.addEventListener( "click", stopStreaming );
    btnCapture.addEventListener( "click", captureSnapshot );

    // Start Streaming
    function startStreaming() {
      var mediaSupport = 'mediaDevices' in navigator;
      if( mediaSupport && null == cameraStream ) {
        navigator.mediaDevices.getUserMedia( { video: true } )
        .then( function( mediaStream ) {
          cameraStream = mediaStream;
          videoInput.srcObject = mediaStream;
          videoInput.play();
        })
        .catch( function( err ) {
          console.log( "Unable to access camera: " + err );
        });
      }
      else {
        alert( 'Your browser does not support media devices.' );
        return;
      }
    }

    function captureSnapshot() {

      // Format in database
        // imgname: 20211209-132000
        // post_datetime: 2021-12-09 07:47:08.481105

      // Get datetime at the moment press the button analyze
      // var this_datetime = new Date($.now()); // new Date(Date.now()) //// Sat Dec 25 2021 14:43:47 GMT+0700 (Indochina Time)
      var today = new Date(); //Sat Dec 25 2021 14:43:47 GMT+0700 (Indochina Time)

      var img_date = today.getFullYear()+''+(today.getMonth()+1)+''+today.getDate();
      var img_time = today.getHours()+''+today.getMinutes()+''+today.getSeconds();
      var my_imgname = img_date+'-'+img_time+'.jpg';
      $('#img_create_diary').val(my_imgname);

      var post_date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate(); 
      var post_time = today.getHours()+':'+today.getMinutes()+":"+today.getSeconds()+"."+today.getMilliseconds();
      var my_post_datetime = post_date+" "+post_time
      $('#post_create_datetime').val(my_post_datetime);

      if( null != cameraStream ) {
        var ctx = canvasOutput.getContext( '2d' );
        var img = new Image(); // Create new img element
        ctx.drawImage( videoInput, 0, 0, canvasOutput.width, canvasOutput.height ); // 1. script lay anh
        img.src		= canvasOutput.toDataURL( "image/jpeg" ); // Set source path
        img.width	= 240;
        img.name=my_imgname;
        capturedImage=img;
      }
      if ( btnAnalyze.style.visibility == "hidden" ) {
        btnAnalyze.style.visibility = "visible"
      } 
    }

    function b64toBlob(b64Data, contentType, sliceSize) {
      contentType = contentType || '';
      sliceSize = sliceSize || 512;

      var byteCharacters = atob(b64Data); // window.atob(b64Data)
      var byteArrays = [];

      for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
          var slice = byteCharacters.slice(offset, offset + sliceSize);

          var byteNumbers = new Array(slice.length);
          for (var i = 0; i < slice.length; i++) {
              byteNumbers[i] = slice.charCodeAt(i);
          }

          var byteArray = new Uint8Array(byteNumbers);

          byteArrays.push(byteArray);
      }

      var blob = new Blob(byteArrays, {type: contentType});
      return blob;
  }

    // Animation for progress bar analyze button
    function setButtonProgress(button, percent) {
      const textElement = button.querySelector(".button__text");
      // button.querySelector(".button__progress").style.width = `${percent}%`;
      if (percent >= 0) {
        textElement.textContent = button.dataset.progressText;
      }

      if (percent >= 100) {
        textElement.textContent = button.dataset.completeText;
      }
    }

    // Animation progress bar after press button analyze
    function updateProgressBar(progressBar, value) {
      value = Math.round(value);
      progressBar.querySelector(".progress__fill").style.width = `${value}%`;
      progressBar.querySelector(".progress__text").textContent = `${value}%`;
    }

    // 2. jquery post image
    $(function() {
      $('#click-analyze').click(function() {

        if ( myProgressBar.style.visibility == "hidden" ) {
          myProgressBar.style.visibility = "visible";
      }
        // setButtonProgress( btnAnalyze, 30);
        updateProgressBar(myProgressBar, 30);

        const block = capturedImage.src.split(";");
        // Get the content type of the image
        const contentType = block[0].split(":")[1];// In this case "image/jpeg"
        // get the real base64 content of the file
        const realData = block[1].split(",")[1];
        // Convert it to a blob to upload
        const blob = b64toBlob(realData, contentType);
        
        let formData = new FormData();
        formData.append('file',blob, 'test.jpg'); // my_imgname
        // setButtonProgress( btnAnalyze, 50);
        updateProgressBar(myProgressBar, 50);
        $.ajax({
          url: '/handle_image',
          data: formData,
          type: 'POST',
          processData: false,
          contentType: false,
          success: function(response) {
            // setButtonProgress( btnAnalyze, 100);
            updateProgressBar(myProgressBar, 100);
            console.log(response);
            const labelId = response.predicted_label;
            const label = LABEL_VALUES[labelId];
            $('#predicted_label').text(label);
            $('#eid_create_diary').val(labelId);
            $('#emotion_create_diary').val(label);
          },
          error: function(error) {
            console.log(error);
          }
        });
      })
    })

    $(function(){
      $('#form-create-diary').submit(function(){
        const block = capturedImage.src.split(";");
        // Get the content type of the image
        const contentType = block[0].split(":")[1];// In this case "image/jpeg"
        // get the real base64 content of the file
        const realData = block[1].split(",")[1];
        // Convert it to a blob to upload
        const blob = b64toBlob(realData, contentType);

        let formData = new FormData();
        formData.append('file',blob, $('#img_create_diary').val()); // my_imgname
        // setButtonProgress( btnAnalyze, 50);
        // updateProgressBar(myProgressBar, 50);
        formData.append('post_datetime',$('#post_create_datetime').val());

        // done
        $.ajax({
          url: '/newdiary',
          data: formData,
          type: 'POST',
          processData: false,
          contentType: false,
          success: function(response) {
            const result = response.result;
            const msgBox = $('#msg-box');
            if(result){
              console.log('success');
              $(msgBox).text('success')
            }else{
              console.log('failed');
              $(msgBox).text('failed');
            }
            $('#modal-result').modal('show');
            setTimeout(function(){
              // De url cua trang xem diary vao day
              // window.location.replace("/");
            }, 3000);
            // tu dong chuyen tiep sau 3000 ms

            // setButtonProgress( btnAnalyze, 100);
            // updateProgressBar(myProgressBar, 100);
            // console.log(response);
            // const labelId = response.predicted_label;
            // const label = LABEL_VALUES[labelId];
            // $('#predicted_label').text(label);
            // $('#eid_create_diary').val(labelId);
            // $('#emotion_create_diary').val(label);
          },
          error: function(error) {
            console.log(error);
          }
        });
      })
    })
   
    // Stop Streaming
    function stopStreaming() {
      if( null != cameraStream ) {
        var track = cameraStream.getTracks()[ 0 ];
        track.stop();
        videoInput.load();
        btnAnalyze.style.visibility = hidden;
        myProgressBar.style.visibility = hidden;
        cameraStream = null;
      }
    }

</script>