<script>

    $(document).ready(function() {
          // Javascript method's body can be found in assets/demos.js
          demo.initDashboardPageCharts();


    });
    
    
    // https://html5.tutorials24x7.com/blog/how-to-capture-image-from-camera
    // The buttons to start & stop stream and to capture the image
    var btnStart = document.querySelector("#start-camera");
    var btnStop = document.querySelector("#stop-camera");
    var btnCapture = document.querySelector("#click-photo");

    // The stream & capture
    var videoInput = document.querySelector("#cam-video");
    var canvasOutput = document.querySelector("#canvas-video");

    // The video stream
    var cameraStream = null;

    // Attach listeners
    btnStart.addEventListener( "click", startStreaming );
    btnStop.addEventListener( "click", stopStreaming );
    btnCapture.addEventListener( "click", captureSnapshot );

    // Start Streaming
    function startStreaming() {
      var mediaSupport = 'mediaDevices' in navigator;
      if( mediaSupport && null == cameraStream ) {
        navigator.mediaDevices.getUserMedia( { video: true } )
        .then( function( mediaStream ) {
          cameraStream = mediaStream;
          videoInput.srcObject = mediaStream;
          videoInput.play();
        })
        .catch( function( err ) {
          console.log( "Unable to access camera: " + err );
        });
      }
      else {
        alert( 'Your browser does not support media devices.' );
        return;
      }
    }

    function captureSnapshot() {
      if( null != cameraStream ) {
        var ctx = canvasOutput.getContext( '2d' );
        var img = new Image();
        ctx.drawImage( videoInput, 0, 0, canvasOutput.width, canvasOutput.height );
        img.src		= canvasOutput.toDataURL( "image/jpeg" );
        img.width	= 240;
      }
    }
   
    // Stop Streaming
    function stopStreaming() {
      if( null != cameraStream ) {
        var track = cameraStream.getTracks()[ 0 ];
        track.stop();
        videoInput.load();
        cameraStream = null;
      }
    }

// 1. script lay anh

// 2. jquery post image

</script>