<script>

  const LABEL_VALUES={
    0:'Anger',
    1:'Contempt',
    2:'Disgust',
    3:'Fear',
    4:'Happy',
    5:'Sad',
    6:'Surprise',
    7:'Neutral'
  };

    var btnToday = document.querySelector("#btn-today");
    var btnNext = document.querySelector("#btn-next");
    var btnPrev = document.querySelector("#btn-prev");

    // Attach listeners
    btnToday.addEventListener( "click", onClickTodayBtn );
    btnNext.addEventListener( "click", moveToNextOrPrevRange );
    btnPrev.addEventListener( "click", moveToNextOrPrevRange );

    function onClickTodayBtn() {
        calendar.today();
        setRenderRangeText();
    };

    function moveToNextOrPrevRange(val) {
        if (val.target.id === "btn-prev") {
            calendar.prev();
        } else if (val.target.id === "btn-next") {
            calendar.next();
        }
        setRenderRangeText();
    };


    function setRenderRangeText() {
        const d = new Date(calendar.getDate().getTime());

        var renderRange = document.getElementById('renderRange');
        renderRange.innerHTML = d.getFullYear() + "-" + (d.getMonth() + 1);

        // renderRange.innerHTML = moment(calendar.getDate().getTime()).format('YYYY.MM');
    }

    const Calendar = tui.Calendar;

    const calendar = new Calendar('#calendar', {
        defaultView: 'month',
        taskView: true,
        scheduleView: true,
        template: {
            monthDayname: function(dayname) {
            return '<span class="calendar-week-dayname-name">' + dayname.label + '</span>';
            }
        }
    });

    setRenderRangeText();

    // calendar.createSchedules([
    // {
    //     id: '1',
    //     calendarId: '1',
    //     title: 'my schedule',
    //     category: 'time',
    //     dueDateClass: '',
    //     start: '2021-12-26T22:30:00+09:00',
    //     end: '2021-12-27T02:30:00+09:00'
    // },
    // {
    //     id: '2',
    //     calendarId: '1',
    //     title: 'second schedule',
    //     category: 'time',
    //     dueDateClass: '',
    //     start: '2021-12-28T17:30:00+09:00',
    //     end: '2021-12-29T17:31:00+09:00',
    //     isReadOnly: true    // schedule is read-only
    // }
    // ]);

    $(function(){
        $.ajax({
            url:'/fetch_diary',
            method: 'POST',
            success:function(response){
                const schedules=response.result.map(function(x){
                    let emotion=null;
                    switch(x.eid){
                        case 1:{
                            emotion = 'event-happy'
                            break;
                        }
                        default:{
                            break;
                        }
                    }
                    return {
                        id:x.id,
                        // calendarId: '1',
                        // title:x.title,
                        title:LABEL_VALUES[x.id],
                        body:x.content,
                        category: 'time',
                        start:x.post_datetime,
                        isAllDay:true,
                        customStyle: emotion
                    }
                })
                console.log(schedules);
                calendar.createSchedules(schedules);
            }
        })
    });

</script>

<style>
    .event-happy{
        color:'white';
        background-color:'cyan';
    }
</style>