<style>
    .style-happy {
        color: 'white';
        background-color: '#4ab847';
    }

    .style-anger {
        color: 'white';
        background-color: '#e71e24';
    }

    .style-contempt {
        color: 'white';
        background-color: '#ff6384';
    }

    .style-disgust {
        color: 'white';
        background-color: '#9966ff';
    }

    .style-fear {
        color: 'white';
        background-color: '#ff9f40';
    }

    .style-sad {
        color: 'white';
        background-color: '#1a61af';
    }

    .style-surprise {
        color: 'white';
        background-color: ')#ffce56';
    }

    .style-neutral {
        color: 'white';
        background-color: '#4bc0c0';
    }
</style>

<script>

    $('#diary_id').val("");
    $('#title_update_diary').val("");
    $('#content_update_diary').val("");

    const LABEL_VALUES = {
        0: 'Tức giận',
        1: 'Chán ghét',
        2: 'Kinh tởm',
        3: 'Sợ hãi',
        4: 'Hạnh phúc',
        5: 'Buồn bã',
        6: 'Ngạc nhiên',
        7: 'Bình thường'
    };
    let lastClickSchedule = null;

    var btnToday = document.querySelector("#btn-today");
    var btnNext = document.querySelector("#btn-next");
    var btnPrev = document.querySelector("#btn-prev");

    // Attach listeners
    btnToday.addEventListener("click", onClickTodayBtn);
    btnNext.addEventListener("click", moveToNextOrPrevRange);
    btnPrev.addEventListener("click", moveToNextOrPrevRange);

    function onClickTodayBtn() {
        calendar.today();
        setRenderRangeText();
    };

    function moveToNextOrPrevRange(val) {
        if (val.target.id === "btn-prev") {
            calendar.prev();
        } else if (val.target.id === "btn-next") {
            calendar.next();
        }
        setRenderRangeText();
    };


    function setRenderRangeText() {
        const d = new Date(calendar.getDate().getTime());

        var renderRange = document.getElementById('renderRange');
        renderRange.innerHTML = d.getFullYear() + "-" + (d.getMonth() + 1);

        // renderRange.innerHTML = moment(calendar.getDate().getTime()).format('YYYY.MM');
    }

    const Calendar = tui.Calendar;

    const calendar = new Calendar('#calendar', {
        defaultView: 'month',
        taskView: true,
        scheduleView: true,
        template: {
            monthDayname: function (dayname) {
                return '<span class="calendar-week-dayname-name">' + dayname.label + '</span>';
            }
        }
    });

    setRenderRangeText();

    // calendar.createSchedules([
    // {
    //     id: '1',
    //     calendarId: '1',
    //     title: 'my schedule',
    //     category: 'time',
    //     dueDateClass: '',
    //     start: '2021-12-26T22:30:00+09:00',
    //     end: '2021-12-27T02:30:00+09:00'
    // },
    // {
    //     id: '2',
    //     calendarId: '1',
    //     title: 'second schedule',
    //     category: 'time',
    //     dueDateClass: '',
    //     start: '2021-12-28T17:30:00+09:00',
    //     end: '2021-12-29T17:31:00+09:00',
    //     isReadOnly: true    // schedule is read-only
    // }
    // ]);

    const EMOTION_STYLE = {
        0: 'style-anger',
        1: 'style-contempt',
        2: 'style-disgust',
        3: 'style-fear',
        4: 'style-happy',
        5: 'style-sad',
        6: 'style-surprise',
        7: 'style-neutral'
    }
    const EMOTION_BG_COLOR = {
        0: 'rgba(231, 30, 36, 0.8)',
        1: 'rgba(255, 99, 132, 1)',
        2: 'rgba(153, 102, 255, 1)',
        3: 'rgba(255, 159, 64, 1)',
        4: 'rgba(74, 184, 71, 0.8)',
        5: 'rgba(26, 97, 175, 0.8)',
        6: 'rgba(255, 206, 86, 1)',
        7: 'rgba(75, 192, 192, 1)'
    }

    let diaryData = null;

    $(function () {
        $.ajax({
            url: '/fetch_diary',
            method: 'POST',
            success: function (response) {
                const schedules = response.result.map(function (x) {
                    return {
                        id: x.id,
                        // calendarId: '1',
                        // title:x.title,
                        title: LABEL_VALUES[x.eid],
                        body: x.content,
                        category: 'time',
                        start: x.post_datetime,
                        isAllDay: true,
                        // customStyle: '.'+EMOTION_STYLE[x.eid]
                        bgColor: EMOTION_BG_COLOR[x.eid]
                    }
                })
                diaryData = {};
                for (let i = 0; i < response.result.length; i++) {
                    const e = response.result[i];
                    diaryData[e.id] = e;
                }

                console.log(schedules);
                calendar.createSchedules(schedules);
            }
        })
    });

    calendar.on('clickSchedule', function (event) {
        const schedule = event.schedule;

        if (lastClickSchedule) {
            calendar.updateSchedule(lastClickSchedule.id, lastClickSchedule.calendarId, {
                isFocused: false
            });
        }
        calendar.updateSchedule(schedule.id, schedule.calendarId, {
            isFocused: true
        });

        lastClickSchedule = schedule;
        // open detail view
        const data = diaryData[schedule.id];

        $('#diary_id').val(schedule.id);
        $('#title_update_diary').val(data.title);
        $('#content_update_diary').val(schedule.body);
        $('#diary_image').attr('src', `/static/assets/img/snapshots/${data.imgname}`)
    });

    $('#form-update-diary').submit(function(e){
        e.preventDefault();
    });

    $('#form-update-diary').submit(function (e) {
        const form = $(this);
        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: form.serialize(), // data to be submitted
            success: function (response) {
                alert(response.result); // do what you like with the response
            }
        });
    })

</script>