{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">Emotion</h5>
                <h2 class="card-title">New Diary</h2>
              </div>
              <div class="col-sm-6">
                 <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple" id="0">
                    <input type="radio" name="options" checked>
                    <button id="start-camera" class="btn-primary d-none d-sm-block d-md-block d-lg-block d-xl-block">Start Camera</button> <!--requests user for camera access-->
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-camera-18"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple active" id="1">
                    <input type="radio" class="btn btn-primary btn-simple d-none d-sm-none" name="options">
                    <button id="stop-camera" class="btn-primary d-none d-sm-block d-md-block d-lg-block d-xl-block">Stop Camera</button>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-button-pause"></i>
                    </span>
                  </label>
                 <!-- <label class="btn btn-sm btn-primary btn-simple" id="2">
                    <input type="radio" class="d-none" name="options">
                    <span id="start-record" class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Stop</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-triangle-right-17"></i>
                    </span>
                  </label> -->
                </div> 
              </div> 
            </div>
          </div>
          {% include 'includes/video-test-with-opencv.html' %}
          <div class="card-body">
          </div>

          </div>
        </div>
      </div>
      {% include 'includes/new-diary.html' %}
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/demos.js
      demo.initDashboardPageCharts();

    });
  </script> -->

  <!-- Start: B3Ar config code-->
  {% include 'includes/scripts-video.html' %}
  <!-- End: B3Ar config code-->

{% endblock javascripts %}
