{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">

      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">Emotion</h5>
                <h2 class="card-title">New Diary</h2>
              </div>
              <div class="col-sm-6">
                 <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple" id="0">
                    <input type="radio" name="options" checked>
                    <button id="start-camera" class="btn-primary d-none d-sm-block d-md-block d-lg-block d-xl-block">Start Camera</button> <!--requests user for camera access-->
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-camera-18"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple active" id="1">
                    <input type="radio" class="btn btn-primary btn-simple d-none d-sm-none" name="options">
                    <button id="stop-camera" class="btn-primary d-none d-sm-block d-md-block d-lg-block d-xl-block">Stop Camera</button>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-button-pause"></i>
                    </span>
                  </label>
                 <!-- <label class="btn btn-sm btn-primary btn-simple" id="2">
                    <input type="radio" class="d-none" name="options">
                    <span id="start-record" class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Stop</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-triangle-right-17"></i>
                    </span>
                  </label> -->
                </div> 
                <!-- <button id="start-camera" class="btn btn-outline-primary btn-block">Start Camera</button> requests user for camera access -->
              </div> 
            </div>
          </div>
          <div class="card-body" >
              <button id="click-photo" class="btn btn-primary btn-block">Capture</button> <!--captures the playing video frame in canvas-vid-->
              <div class="col-md-15 text-center">
              <div class="row">
                <div class="col">
                  <video id="cam-video" width="320" height="240" autoplay></video> <!--displays the camera stream-->
                </div>
                <div class="col">
                  <canvas id="canvas-video" width="320" height="240"></canvas> <!--gets the data url string of the image-->
                </div>
                <div class="col">
                  {% include 'includes/video-feed.html' %}
                </div>
            <div class="chart-area">
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/demos.js
      demo.initDashboardPageCharts();

    });
  </script> -->

  <!-- Start: B3Ar config code-->
  {% include 'includes/scripts-video.html' %}
  <!-- End: B3Ar config code-->

{% endblock javascripts %}


<!--
  https://github.com/ageitgey/face_recognition/issues/827
  https://medium.com/swlh/how-to-access-webcam-and-take-picture-with-javascript-b9116a983d78
  https://towardsdatascience.com/how-to-display-video-streaming-from-a-webcam-using-flask-7a15e26fbab8
    https://github.com/behl1anmol/VideoStreamingFlask/blob/master/camera.py
  https://towardsdatascience.com/camera-app-with-flask-and-opencv-bd147f6c0eec
    https://github.com/hemanth-nag/Camera_Flask_App
  https://colab.research.google.com/drive/1HBCHI7PabneYj9r3RtZPLgbK0-6C1h2o#scrollTo=N77mENRp_cDV
  https://www.codegrepper.com/code-examples/python/flask+opening+camera+while+in+1+page+and+closing+on+moving+to+other+page+flask
  https://blog.miguelgrinberg.com/post/video-streaming-with-flask
  https://github.com/krishnaik06/Flask-Web-Framework/blob/main/Tutorial%207%20opencv/haarcascade_frontalface_default.xml
  https://www.youtube.com/watch?v=mzX5oqd3pKA&list=PLZoTAELRMXVPBaLN3e-uoVRR9hlRFRfUc&index=9

  https://flask.palletsprojects.com/en/latest/

  deploy
  https://towardsdatascience.com/deploying-machine-learning-models-into-a-website-using-flask-8582b7ce8802
  https://blog.cambridgespark.com/deploying-a-machine-learning-model-to-the-web-725688b851c7
  https://medium.com/swlh/how-to-create-an-interactive-machine-learning-web-application-using-flask-and-heroku-5ae76a45bfc5
  https://towardsdatascience.com/build-a-machine-learning-web-app-in-python-683480acbd37

-->